body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title-container{
  width: 100vw;
  object-fit: cover;

}
.seattle-img{
  max-width: 100%;
  max-height: 100%;
}
.title-header{
  position: absolute;
  top: 30%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  color:whitesmoke;
}

.nav-bar{
  position: fixed;
  top:0;
  background-color: whitesmoke;
  display: flex;
  width:100%;
  justify-content: center;
  height:10vh;
}
.nav-link-box{
  padding:1vw;
  flex-grow: 1;
  text-align: center;
  font: size 1.5vw;
  color:black;
}
a{
  text-decoration: none;
  color:black;
}
.section-title{
  text-align: center;
  width: 100%;
  font-size: 200%;
}
.section-container
{
  margin-top:10vh;
  padding: 2vh 0 2vh 0;
}

.projects-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width:100%;
  height:100vh;
  padding: 2vw;

  }

  .project-card{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }


.project-info{
  height: 50vh;
  width: 30vw;
  margin: 0 1vw 0 1vw;
  color: black;
  padding:.2vw;
  box-shadow: .5vh .5vh 5vh #888888;


}
.project-description{
  text-align:start;
  margin: .5vw;
  font-size: 120%;
}
.project-img{
  width:20vw;
  height:20vh;

}

.project-name{
  font-size: 150%;

}


.description-me-box{
  display: flex;
  flex-direction: column;
 color:black;
  border-style: double;
  border-radius: .5rem;
  border-color: white;
flex-grow: initial;
 font-size: 1.25rem;
 padding: 0 2rem 0 2rem;



  }
.about-me-box{
  display: flex;
  flex-direction: column;

  margin: 1rem 5rem 5rem 5rem;
  background-color:#282c34;
  border-radius: .5rem;
align-content: center;
box-shadow: 10px 10px 5px ;

}
.about-me-picture{
  height:30%;
 width:30%;
 border-style: double;
 border-radius: .5rem;
 border-color: white;
 background-color: #282c34;
 padding:5rem;
 margin: 2rem;

}

.about-me-picture:hover{
  opacity: .5;
}

.inline-link{

  color:white;
  text-decoration:underline;

}

.paragraph{
  color:white;
  background-color: #282c34;
padding:.5rem;


}
.story{
  border-radius: .5rem;
 border-color: white;
 border-style: double;
 margin-top: 1rem;

}


.images-box{

  margin:1rem;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
.gallery-pic{
  height: 20rem;
  width: 20rem  ;
  margin: .5rem;
  border-radius: .5rem;
  box-shadow: 5px 5px 2px black ;
}

.gallery-pic:hover{
  opacity: .5;
}
